@page
@model MediCare.Pages.ContactUsViews.DetailsModel

@{
    ViewData["Title"] = "ContactUs Details";
}
<div>
    <h4>ContactUs Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.Contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.Message)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-info" asp-route-id="@Model.ContactUs.id">Edit</a>
    <a asp-page="./Index" class="btn btn-info">Back</a>
</div>
